<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <div class="container">
    <a class="navbar-brand" href="#" target="_blank">Dating App</a>
    @if (accountService.currentUser()) {
    <ul class="navbar-nav me-auto mb-2 mb-md-0">
      <li class="nav-item">
        <a class="nav-link">Matches</a>
      </li>
      <li class="nav-item">
        <a class="nav-link">Lists</a>
      </li>
      <li class="nav-item">
        <a class="nav-link">Messages</a>
      </li>
    </ul>
    } @if (accountService.currentUser()) {
    <div dropdown class="dropdown">
      <a dropdownToggle class="dropdown-toggle text-light text-decoration-none">Welcome User</a>
      <div *dropdownMenu class="dropdown-menu">
        <a class="dropdown-item">Edit profile</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" (click)="signout()">Signout</a>
      </div>
    </div>
    } @if (!accountService.currentUser()) {
    <form #loginForm="ngForm" class="d-flex" (ngSubmit)="signin()" autocomplete="off">
      <input
        class="form-control me-2"
        name="username"
        [(ngModel)]="model.username"
        placeholder="User Name"
      />
      <input
        class="form-control me-2"
        name="password"
        [(ngModel)]="model.password"
        type="password"
        placeholder="Password"
      />
      <button class="btn btn-outline-success" type="submit">Signin</button>
    </form>
    }
    <div>
      <a
        class="navbar-text ms-2"
        href="https://bootstrap-4.ru/articles/cheatsheet5/"
        target="_blank"
        >Bootstrap</a
      >
      <a class="navbar-text ms-2" href="https://starper55plys.ru/shpargalki/" target="_blank"
        >HTML</a
      >
      <a class="navbar-text ms-2" href="https://getbootstrap.com/docs/5.3/examples/" target="_blank"
        >BExamples</a
      >
    </div>
  </div>
</nav>
